<% include header %>

    <table class="table table-striped table-hover catalog">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Planets</th>
            </tr>
        </thead>
        <tbody>
            <% for (i = 0; i < data.length; i++){ %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].class %></td>
                <td><a href="/view_star?id=<%= data[i]._id %>" class="btn btn-primary"><%= typeof data[i].planets == 'undefined' ? 0 : data[i].planets.length %> planets</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <ul class='pagination'>
        <% if (current_page > 1){ %>
        <li><a href='/catalog?page=<%= current_page - 1 %>'>&lt;</a></li>
        <% } %>
        <% for (i = 1; i <= num_pages; i++) { %>
        <li class="<%= (current_page == i) ? 'active': '' %>">
            <a href='/catalog?page=<%= i %>'><%=i%></a>
        </li>
        <% } %>
        <% if (current_page < num_pages) { %>
        <li><a href='/catalog?page=<%= current_page + 1 %>'>&gt;</a></li>
        <% } %>
    </ul>

<% include footer %>